<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1><%= title %></h1>
        <% articles.forEach(function(article){ %>
            <h3><%= article.title %></h3>
            <a href="/editArticle/<%= article.title %>">Edit</a><br>
            <form id="delArticle" name="delArticle" method="post" action="/deleteArticle">
                <input type="hidden" name="id" value="<%= article._id %>">
                <button type='submit'>Delete</button>
            </form>
        <% }); %>
        <a href="/addArticle">Create new article</a><br>
        <a href="/logout">Logout</a>
    </body>
</html>