<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Edit article</h1>
        <form id="addArticle" name="addArticle" method="post" action="/updateArticle">
            <input type="hidden" name="id" value="<%= article._id %>">
            <input id="title" type="text" placeholder="Title" name="title" value="<%= article.title %>"><br>
            <textarea id="title" placeholder="Article" name="article"><%= article.section1 %></textarea><br>
            <button type="submit">Submit</button>
        </form>
        <form id="delArticle" name="delArticle" method="post" action="/deleteArticle">
                <input type="hidden" name="id" value="<%= article._id %>">
                <button type='submit'>Delete</button>
            </form>
    </body>
</html>