<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Whiteboard</title>

<!-- CSS -->
<!-- bootstrap from a CDN -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- additional CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">