<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Whiteboard</title>

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<!-- CSS -->
<!-- bootstrap from a CDN -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- additional CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">