<!-- views/partials/header.ejs -->

<meta charset='UTF-8'>
<title><%= title %></title>
<!--stylesheets -->
<!-- Bootstrap from a CDN -->
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' />
<!-- additional styles -->
<link rel='stylesheet' href='/stylesheets/style.css' />