<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1><%= title %></h1>
        <% articles.forEach(function(article){ %>
            <a href="/article/<%= article.title %>"><%= article.title %></a><br>
        <% }); %>
        <a href="/newArticle">Add new article</a><br>
        <a href="/deleteArticle">Delete article</a>
    </body>
</html>
