<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h3>go to userlist</h3>
    <a href='https://whiteboard-chrissensebe.c9.io/userlist'>userlist</a>
  </body>
</html>
