<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h3>articles</h3>
    <% articles.forEach(function(article){ %>
      <h4><%= article.title %></h4>
      <p><%= article.section1 %></p>
    <% }); %>
  </body>
</html>
