<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
        <h1>Users</h1>
        <ul>
            <% userlist.forEach(function(user){ %>
                <li><%= user.username %> - <%= user.email %></li>
            <% }); %>
        </ul>
  </body>
</html>