<!-- flash messages -->

<% if (message.notice && message.notice.length > 0) { %>
        <div class="alert alert-success"><%= message.notice %></div>
<% } %>
<% if (message.warning && message.warning.length > 0) { %>
        <div class="alert alert-danger"><%= message.warning %></div>
<% } %>
