<!-- views/partials/head.ejs -->

<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- title -->
<title>Whiteboard</title>

<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<!-- CSS -->
<!-- bootstrap from a CDN -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- additional CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">