<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"><span class="glyphicon glyphicon-pencil"></span>  Whiteboard</p>
        </div>
        
        <!-- content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <% if(isAuthenticated){ %>
                    <li><a href="/app/edit">Edit</a></li>
                    <li><a href="/app/upload">Upload file</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <% if(isAuthenticated){ %>
                            <%= currentUser.username %>
                        <% }
                        else{ %>
                            Sign in
                        <% } %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <% if(!isAuthenticated){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>
                        <% }
                        else{ %>
                            <li><a href="/app/profile">Update profile</a></li>
                            <li><a href="/app/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>