/* Main */

body{
    font-family: 'Lato', sans-serif;
}
.navbar{
    border-radius: 0;
}
.row{
    margin-bottom: 15px;
}
#flash{
    margin-top: 15px;
}
form{
    margin-top: 15px;
}
.form-control{
    margin-bottom: 10px;
}
.jumbotron{
    border: 1px solid #e7e7e7;
}
#article{
    min-height: 200px;
}
#footer{
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
#footer-text{
    padding-top: 20px;
}
.close-succes{
    border-style: none;
    background-color: #dff0d8;
}
.close-danger{
    border-style: none;
    background-color: #f2dede;
}

/* Class for invalid input */

.invalid-form{
    background-color: #f2dede;
    border-color: #a94442;
}

/* Sticky footer */

html, body{
    height: 100%;
}
#wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#footer{
    height: 60px;
}