<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                        <form id="addArticle" name="addArticle" method="post" action="/app/addArticle">
                            <legend>New article</legend>
                            <% include ../partials/csrfToken.ejs %>
                            <input id="title" type="text" placeholder="Title" name="title" class="form-control">
                            <textarea id="title" placeholder="Article" name="article" class="form-control"></textarea>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                        <form>
                            <a class="btn btn-warning" href="/app/edit">Cancel</a>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
        <% include ../partials/scripts.ejs%>
        
    </body>
</html>