<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/scripts.ejs%>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            <div class="container">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                        <form id="addArticle" name="addArticle" method="post" action="/app/update">
                            <legend>Edit article</legend>
                            <label for="title">Article title</label>
                            <% include ../partials/articleId.ejs %>
                            <% include ../partials/csrfToken.ejs %>
                            <input id="title" type="text" name="title" value="<%= article.title %>" class="form-control" required>
                            <label for="article">Article body</label>
                            <textarea id="article" name="article" class="form-control" required><%= article.articleBody %></textarea>
                            <button type="submit" class="btn btn-primary">Save and exit</button>
                        </form>
                        <form>
                            <a href="/app/edit" class="btn btn-warning">Exit without saving</a>
                        </form>
                        <form id="delArticle" name="delArticle" method="post" action="/app/deleteArticle">
                            <% include ../partials/articleId.ejs %>
                            <% include ../partials/csrfToken.ejs %>
                            <button type='submit' class="btn btn-danger">Delete article</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
    </body>
</html>