<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                       <h1><%= title %></h1>
                        <% articles.forEach(function(article){ %>
                            <h3><%= article.title %></h3>
                            <a href="/editArticle/<%= article._id %>">Edit</a><br>
                            <form id="delArticle" name="delArticle" method="post" action="/deleteArticle">
                                <% include ../partials/csrfToken.ejs %>
                                <% include ../partials/articleId.ejs %>
                                <button type='submit' class="btn btn-danger">Delete article</button>
                            </form>
                        <% }); %>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <a href="/addArticle">Create new article</a><br>
                    </div>
                </div>
                
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
        <% include ../partials/scripts.ejs%>
        
    </body>
</html>