<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            <div class="container">
                <% include ../partials/flash.ejs %>
                <h3>Edit article</h3>
                <div class="row">
                    <div class="col-md-12">
                        <form id="addArticle" name="addArticle" method="post" action="/update">
                            <legend>Article title</legend>
                            <% include ../partials/csrfToken.ejs %>
                            <% include ../partials/articleId.ejs %>
                            <input id="title" type="text" placeholder="Title" name="title" value="<%= article.title %>" class="form-control">
                            <legend>Article</legend>
                            <textarea id="title" placeholder="Article" name="article" class="form-control"><%= article.articleBody %></textarea>
                            <button type="submit" class="btn btn-primary">Save and exit</button>
                        </form>
                        <form>
                            <a href="/edit" class="btn btn-warning">Exit without saving</a>
                        </form>
                        <form id="delArticle" name="delArticle" method="post" action="/deleteArticle">
                            <% include ../partials/csrfToken.ejs %>
                            <% include ../partials/articleId.ejs %>
                            <button type='submit' class="btn btn-danger">Delete article</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
        <% include ../partials/scripts.ejs%>
        
    </body>
</html>