<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/scripts.ejs%>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/login" method="POST">
                            <legend>Login</legend>
                            <% include ../partials/csrfToken.ejs %>
                            <label for="username">Email</label>
                            <input type="text" name="email" id="email" class="form-control" required>
                            <p id="emailText"></p>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                            <p id="passwordText"></p>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
    </body>
</html>