<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/scripts.ejs%>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container" id="page-content">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/app/updateProfile" method="POST">
                            <legend>Profile</legend>
                            <% include ../partials/csrfToken.ejs %>
                            <label for="password">Your new password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                            <p id="passwordText"></p>
                            <label for="password">Confirm password</label>
                            <input type="password" id="confirmPassword" class="form-control" required>
                            <p id="passwordMatch"></p>
                            <button type="submit" class="btn btn-primary" id="sendButton" disabled>Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
    </body>
</html>