<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/scripts.ejs%>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container" id="page-content">
                <% include ../partials/flash.ejs %>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/app/updateProfile" method="POST">
                            <legend>Profile</legend>
                            <% include ../partials/csrfToken.ejs %>
                            <label for="username">Update your username</label>
                            <input type="text" name="username" placeholder="<%= currentUser.username %>" required class="form-control">
                            <label for="password">Change your password</label>
                            <input type="password" name="password" required class="form-control">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
    </body>
</html>