<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            
            <div class="container">
    
                <div class="row">
                    <div class="col-md-12">
                        <h3>Whiteboard v 0.0.1</h3>
                        <a class="btn btn-primary" href="https://github.com/ChrisSensebe/whiteboard.git"><i class="icon-github-sign icon-2x"></i>Fork me on github</a>
                    </div>
                </div>
                
            </div>
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
        <% include ../partials/scripts.ejs%>
        
    </body>
</html>