<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
        
        <div id="wrap">
            <header>
                <% include ../partials/header.ejs %>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="addArticle" name="addArticle" method="post" action="/updateAndExit">
                            <legend>Edit article</legend>
                            <input type="hidden" name="id" value="<%= article._id %>" class="form-control">
                            <input id="title" type="text" placeholder="Title" name="title" value="<%= article.title %>" class="form-control">
                            <textarea id="title" placeholder="Article" name="article" class="form-control"><%= article.section1 %></textarea>
                            <button type="submit" class="btn btn-primary">Save and exit</button>
                            <button href="/edit" class="btn btn-warning">Exit without saving</button>
                        </form>
                        <form id="delArticle" name="delArticle" method="post" action="/deleteArticle">
                            <input type="hidden" name="id" value="<%= article._id %>">
                            <button type='submit' class="btn btn-danger">Delete article</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
        
        <% include ../partials/scripts.ejs%>
        
    </body>
</html>